<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="candidateService" class="it.intersistemi.elezioni.elezionirsu.service.CandidateService" abstract="true">
    </bean>
    <bean id="userService" class="it.intersistemi.elezioni.elezionirsu.service.UserService" abstract="true">
    </bean>
    <bean id="scoreService" class="it.intersistemi.elezioni.elezionirsu.service.ScoreService" abstract="true">
    </bean>
    <bean id="allowedEmailService" class="it.intersistemi.elezioni.elezionirsu.service.AllowedEmailService" abstract="true">
    </bean>
    <bean id="sessionFactory" scope="singleton" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="packagesToScan">
            <list>
                <value>it.intersistemi.elezioni.elezionirsu.entity</value>
            </list>
        </property>
    </bean>

            <!-- Springs Hibernate Transaction Manager -->
    <bean id ="transactionManager" class = "org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name = "sessionFactory" ref = "sessionFactory"/>
    </bean>
</beans>